/* Embedded CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d48c8c; /* Light gray background */
    color: #ff0000; /* Text color */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: lightgray; /* Container background color */
    border-radius: 10px; /* Rounded corners for container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for container */
}

.section {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
}

ul {
    padding-left: 20px;
}

/* Styling for header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Styling for navigation */
nav {
    background-color: #666;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Styling for sections */
h2 {
    border-bottom: 2px solid #773636;
    padding-bottom: 5px;
}

/* Styling for images */
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 2.5px; /* Rounded corners for images */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Box shadow for images */
}

/* Styling for footer */
footer {
    background-color: #bb9c9c;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #666; /* Border on top of footer */
}
